@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Fredoka+One&family=Montserrat:wght@400;500;600&display=swap');


:root {
  --primary-color: #ffcb05;
  --secondary-color: #2a75bb;

  /* FONTS-SIZE */
  --font-size--3: clamp(0.4rem, 0.4vw + 0.4rem, 1rem);
  --font-size--2: clamp(0.6rem, 0.5vw + 0.5rem, 1.2rem);
  --font-size--1: clamp(0.8rem, 0.61vw + 0.68rem, 1.41rem);
  --font-size-0: clamp(1rem, 0.88vw + 0.82rem, 1.88rem);
  --font-size-1: clamp(1.25rem, 1.25vw + 1rem, 2.5rem);
  --font-size-2: clamp(1.56rem, 1.77vw + 1.21rem, 3.33rem);
  --font-size-3: clamp(1.95rem, 2.49vw + 1.46rem, 4.44rem);
  --font-size-4: clamp(2.44rem, 3.48vw + 1.75rem, 5.92rem);
  --font-size-5: clamp(3.05rem, 4.84vw + 2.08rem, 7.89rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Balsamiq Sans";
  font-size: var(--font-size-0);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}

.active {
  border-bottom: 3px solid #2a75bb;
}

.active > a {
  color: #2a75bb;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 2px 4px 6px #d9d9d9;
  position: relative;
  background: linear-gradient(to right, #f2c94c, #f2994a);
}

ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

#pokeCore {
  max-width: 20%;
  animation: pokeball 0.8s alternate-reverse infinite;
  animation-fill-mode: forwards;
}

#pokeball {
  max-width: 5%;
  animation: pokeball 0.8s alternate-reverse infinite;
  animation-fill-mode: forwards;
}

li a {
  font-size: var(--font-size--1);
  color: #fff;
  font-weight: bold;
}

#menuHamburguer {
  cursor: pointer;
  
  width: 100px;
  height: 30px;
  background-image: url(/assets/menuHamburguer.png);
  z-index: 99999;
  background-size: cover;
  display: none;
}

@keyframes pokeball {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(15%);
  }
}

@media screen and(min-width: 769px) {
  nav{
    background-color: #2a75bb;
  }
}

@media screen and (max-width: 768px) {
  #menuHamburguer {
    display: block;
    z-index: 1000;
  }

 
  nav {
    position: fixed;
    background-color: var(--primary-color);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    place-items: center;
    opacity: 0.95;
    z-index: 999;
  }

  ul {
    flex-direction: column;
  }

  ul li a {
    font-size: var(--font-size-2);
  }
}
